# Zulip variables
ZULIP_API_KEY=gFoGPkv079gV6jMn7VrzseILESySj2ys
ZULIP_EMAIL=fran-bot@donmingo.zulipchat.com
ZULIP_SITE=https://donmingo.zulipchat.com/

# Arize variables
ARIZE_API_KEY=
ARIZE_API_URL=
ARIZE_PROJECT_NAME=

# Hugging Face
HF_TOKEN=