zulip
python-dotenv
arize
invoke
pytest
pytest-cov
pytest-mock
pytest-asyncio
timeout-decorator
coverage
coverage-lcov
pytest-xdist
pytest-mock
pytest-asyncio
pytest-timeout
psutil
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
requests
